<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="login-container">
      <div class="login-box">
        <h1>Register</h1>
        <form action="/register" method="POST">
          <div class="input-group">
            <label for="first_name">First Name</label>
            <input
              type="text"
              id="first_name"
              name="first_name"
              placeholder="Enter your first name"
              required />
          </div>
          <div class="input-group">
            <label for="last_name">Last Name</label>
            <input
              type="text"
              id="last_name"
              name="last_name"
              placeholder="Enter your last name"
              required />
          </div>
          <div class="input-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Enter your email"
              required />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Enter your password"
              required />
          </div>
          <div class="input-group">
            <label for="date_of_birth">Date of Birth</label>
            <input
              type="date"
              id="date_of_birth"
              name="date_of_birth"
              required />
          </div>
          <button type="submit" class="login-btn">Register</button>
          <a
            href="{{ url_for('login') }}"
            class="pass_Forg-btn"
            style="
              text-decoration: none;
              display: block;
              text-align: center;
              margin-top: 10px;
            ">
            Back to Login
          </a>
        </form>
      </div>
    </div>
  </body>
</html>
